body {
}

h1{
    text-align: center;
    text-decoration: underline;

}
h4{
    text-align: center;

}
p{
    font-size: 32px;
    padding: 6%;

}
.nav{
    background-color: red;
    font-size: 18px;
    padding:2%
}
.nav a{
    color:white;
    text-align: center;
    padding: 2%
}
.nav a:hover{
    background-color: silver;
    color: white;
}
