body {
    background-color: #9b2335;
    color: white;
}
.container{
    width:40%; 
    float: left; 
    padding:2%; 
    padding-top:4%
}
h1{
    text-align: center;
    text-decoration: underline;
}
h4{
    text-align: center;
}

.nav {
    background-color: #333;
    overflow: hidden;
}
img{
    display:block;
    margin-left: auto;
    margin-right:auto;
}
div{
    text-align:left;
}
    .nav a {
        float: left;
        color: #f2f2f2;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
        font-size: 17px;
    }
        .nav a:hover {
            background-color: #ddd;
            color: black;
        }
.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    margin: 8px;
}